/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 4:14:04 PM
    Author     : Alexandre Binninger
*/

.image-item-search{
    margin-left:30px;
    margin-right:30px;
    margin-top:40px;
    max-height:300px;
    max-width:300px;
}

.image-binet-search{
    margin-top: 15px;
    max-height:150px;
    max-width:150px;
}


.enregistrement-invalide{
    border : 2px solid red;
    padding: 2px;
    font-weight: bold;
    font-size:1.1em;
    color: darkred;
}

.enregistrement-valide{
    border : 2px solid green;
    padding: 2px;
    font-weight: bold;
    font-size:1.1em;
    color: darkgreen;
}

footer{
    background-color: #bdbdbd;
}

#pasAdmin{
    font-weight: bold;
    text-align: center;
}

#rechercheBinetsCatalogue{
    text-align: center;
}