/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 4:14:04 PM
    Author     : Alexandre Binninger
*/

.image-item-search{
    margin-left:30px;
    margin-right:30px;
    margin-top:40px;
    max-height:300px;
    max-width:300px;
}

.image-binet-search{
    margin-top: 15px;
    max-height:150px;
    max-width:150px;
}
.notPublicBinetItem{
    font-weight: bold;
    color:red;
    font-size: 1.1em;
}

.image-binet-catalogue{
    max-height:150px;
    max-width:150px;
}

.pageBinetLogo{
    float:right;
    max-height:150px;
    max-width:150px;
}

.image-caroussel{
    margin-top: 15px;
    max-height:400px;
    max-width:400px;
    text-align: center;
}

.image-item-stock{
    max-height:300px;
    max-width:300px;
}

.carousel-caption{
    text-align: right;
    color:#000000;
    text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}


.enregistrement-invalide{
    border : 2px solid red;
    padding: 2px;
    font-weight: bold;
    font-size:1.1em;
    color: darkred;
}

.enregistrement-valide{
    border : 2px solid green;
    padding: 2px;
    font-weight: bold;
    font-size:1.1em;
    color: darkgreen;
}

footer{
    background-color: #bdbdbd;
}

#pasAdmin{
    font-weight: bold;
    text-align: center;
}

#rechercheBinetsCatalogue{
    text-align: center;
}


.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #cccccc  ;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 18px;
    height: 18px;
    margin: 10px;
    background-color: #909090;
}